 body {
    overflow-x: hidden;
 }

.avatar-small {
    padding-right: .5em;
    vertical-align: top;
    border: 0px;
    width: 75px;
    height: 75px;
}

.avatar {
    padding-right: .5em;
    vertical-align: top;
    border: 0px;
    width: 213px;
    height: 213px;
}

.post-meta {
    padding-bottom: .5em;
    text-transform: uppercase;
    color: #b9b9b9;
    font-size: 70%;
    font-weight: 700;
    font-family: 'Roboto Condensed',sans-serif;
}

.post-meta a{
    color: #b9b9b9;
    font-family: 'Roboto Condensed',sans-serif;
}

.index-page {
    position: relative;
}
article {
    padding: 2em 1em;
}

article {
    display: block;
}

article:after {
    content: "***";
    position: absolute;
    margin-top: 1em;
    width: 100px;
    left: 49%;
}

main {
    padding-top: 1em;
}

a {
    background: 0 0;
    color: #333;
}

h1 a:focus, h1 a:hover, h1 a:link, h1 a:visited, h2 a:focus, h2 a:hover, h2 a:link, h2 a:visited, h3 a:focus, h3 a:hover, h3 a:link, h3 a:visited, h4 a:focus, h4 a:hover, h4 a:link, h4 a:visited, h5 a:focus, h5 a:hover, h5 a:link, h5 a:visited, h6 a:focus, h6 a:hover, h6 a:link, h6 a:visited {
    color: #333;
    text-decoration: none;
}

h2 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 700;
}

.nav-main a {
    font-size: 17px;
    display: block;
    padding-right: 2em;
    margin: 0;
}


li{
    list-style-type: none;
}

.sort-main ol{
    list-style-type: none;
    position:relative;
    display: inline;
    margin-right: 5px;
    padding: 3px;
    left: 85%;
}

.sort ol{
    list-style-type: none;
    position:relative;
    display: inline;
    margin-right: 5px;
    padding: 3px;
    left: 94%;
}

.sub-nav-main ol{
    list-style-type: none;
    position:relative;
    display: inline;
    margin-right: 5px;
    padding: 3px;
    left: 75%;
}

.nav-main a {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    line-height: 50px;
    margin: auto;
    color: #333;
    text-decoration: none;
}

.sub-content-wrapper {
    width: 62%;
    max-width: 740px;
    margin-left: 24%;
}

.content-wrapper {
    width: 62%;
    max-width: 740px;
    margin-left: 38%;
}

.center-wrapper {
    max-width: 960px;
    margin: 0 auto;
    top: 10px;
    text-align: center;
    color: #766257;
}

.main-header {
    background-color: rgb(253, 253, 253);
    z-index: 100;
    width: 100%;
    top: 0px;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
}

.nav-main {
    height: 50px;
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    flex-flow: row wrap;
    padding: 0px 1rem;
}

.placeholder {
    position: relative;
    top: 150px;
    left: 60px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 350px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}