{% extends 'multiblog/base.html'%}

{% block content %}
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <div class="col-sm-8 placeholder">
            {% if user.is_authenticated %}
                <a href="{% url 'my_profile' pk=user.id %}"><img src="{{ user.avatar.url }}" class="img-responsive"></a>
                <h4 class="text-center"><a href="{% url 'my_profile' pk=user.id %}">{{ user }}</a></h4>
                <form action="#" method="get">
                  <input type="submit" class="btn" value="Новая запись" name="new">
                  <input type="submit" class="btn" value="Выйти" name="logout">
                </form>
            {% else %}
              <img src="https://ezwow.org/uploads/profile/photo-674151.png" class="img-responsive">
                <form class="form-signin" method="POST" id="submit-form">{% csrf_token %}
                {% if error %}
                  <h4 class="text-center text-danger">{{ error }}</h4>
                {% else %}
                  <h4 class="text-center">Кто ты?</h4>
                {% endif %}
                    <div class="form-group">
                        <div class="input-group col-md-12">
                          <input class="form-control" placeholder="Email" name="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-md-12"> 
                          <input class="form-control" placeholder="Password" name="password" type="password">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="input-group col-md-12">
                          <button class="btn btn-inverse btn-sm btn-block" type="submit" name="submit-log-in">Войти</button>
                        </div>
                    </div>  
                  
                    <div class="form-group">
                      <div class="input-group col-md-12">
                        <button class="btn btn-inverse btn-sm btn-block" type="submit" name="submit-register">Регистрация</button>
                      </div>
                    </div>  
                </form>
              {% endif %}              
            </div>
        </div>
  </div>

  <header class="main-header content-wrapper">
    <nav class="nav-main center-wrapper">
      <a class="nav-main" href="{% url 'main' %}">Black-Blog</a>
    </nav>
  </header>
  <li class="sort-main">
        <ol><a href="#" class="sort-page-time-desc" data-placement="bottom" data-toggle="tooltip" title="Сортировка по убыванию даты публикации" ><span class="glyphicon glyphicon-sort-by-order-alt"></span></a></ol>
        <ol><a href="#" class="sort-page-time-asc" data-placement="bottom" data-toggle="tooltip" title="Сортировка по возрастанию даты публикации"><span class="glyphicon glyphicon-sort-by-order"></span></a></ol>
        <ol><a href="#" class="sort-page-name-desc" data-placement="bottom" data-toggle="tooltip" title="Сортировка в обратном алфавитном порядке"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></ol>
        <ol><a href="#" class="sort-page-name-asc" data-placement="bottom" data-toggle="tooltip" title="Сортировка в алфавитном порядке"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a></ol>
  </li>

	<main class="content-wrapper" id="main_page">
		  {% for p in publ %}
			    <article class="index-page" data-author="{{ p.author }}" data-time="{{ p.time }}">
			      <h4><a href="{% url 'full' pk=p.id %}">{{ p.title }}</a>
            </h4>
			      <p class="post-meta"><time datetime="{{ p.time }}">{{ p.time }}</time>&nbsp;/&nbsp;
				      <span item="author"><a href="{% url 'my_profile' pk=p.author.id %}">{{ p.author }}</a></span>
			      </p>
			
            <p>{{ p.abstract }}</p>
        	</article>
      {% endfor %}

      <div class="center-wrapper" id="navigation">
        <a href="left"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <span>12</span>
        <a href="right"><span class="glyphicon glyphicon-arrow-right"></span></a>
      </div>
{% endblock content %}