{% extends 'multiblog/base.html'%}

{% block content %}

<div class="modal fade" id="confirm-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Подтверждение удаления</div>
            <div class="modal-body">
                <p>Удалить данную запись?</p>
                <p id="file-to-delete"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" id="confirm">Delete</a>
            </div>
        </div>
    </div>
</div>


  <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Редактирование профиля</h4>
                </div>
            
                <div class="modal-body row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group col-md-11"><h5>Имя</h5></div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-11"><h5>Фамилия</h5></div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-11"><h5>Телефон</h5></div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-11"><h5>Skype</h5></div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="input-group col-md-11">
                                    <input class="form-control" type="text" id="name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-11">
                                    <input class="form-control" type="text" id="surname">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-md-11">
                                    <input class="form-control" type="text" id="phone">
                                </div>
                            </div>  

                            <div class="form-group">
                                <div class="input-group col-md-11">
                                    <input class="form-control" type="text" id="skype">
                                </div>
                            </div>
                        </div>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>

            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <li class="sub-nav-main">
        <ol><a href="{% url 'new' %}"><span class="glyphicon glyphicon-plus"></span></a></ol>
        <ol><a href="{% url 'django.contrib.auth.views.logout' %}?next=/"><span class="glyphicon glyphicon-log-out"></span></a></ol>
    </li>
    {% endif %}
    <header class="main-header sub-content-wrapper">
        <nav class="nav-main center-wrapper">
            <a class="nav-main" href="{% url 'main' %}">Black-Blog</a>
        </nav>
    </header>

    <main class="sub-content-wrapper" id="main_page">
		<div class="row featurette">
		    <div class="col-lg-4">
                <img class="avatar" src="{{ blogger.avatar.url }}">
            </div>
		
            <div class="col-lg-4">
			    <div class="text-center">	
			        <h3 class="featurette-heading">{{ blogger }}
                    {% if user.is_authenticated and user == blogger%}
                        <a href="#modal" role="button" class="btn" data-toggle="modal" ><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                    </h3>
                
                    {% if blogger.phone %}
	   		            <div class="col-lg-6"><h6>Телефон</h6></div>
         	            <div class="col-lg-6"><h6>{{ blogger.phone }}</h6></div>
                    {% endif %}

                    {% if blogger.email and blogger.name %}
         	            <div class="col-lg-6"><h6>Email</h6></div>
         	            <div class="col-lg-6"><h6>{{ blogger.email }}</h6></div>
                    {% endif %}

                    {% if blogger.skype %}
         	            <div class="col-lg-6"><h6>Skype</h6></div>
         	            <div class="col-lg-6"><h6>{{ blogger.skype }}</h6></div>
                    {% endif %}
         	    </div>
            </div>
        </div>
    
        <hr class="featurette-divider">

        <li class="sort">
            <ol><a href="#" class="sort-page" act="2-desc" data-placement="bottom" data-toggle="tooltip" title="Сортировка по убыванию даты публикации" ><span class="glyphicon glyphicon-sort-by-order-alt"></span></a></ol>
            <ol><a href="#" class="sort-page" act="2-asc" data-placement="bottom" data-toggle="tooltip" title="Сортировка по возрастанию даты публикации"><span class="glyphicon glyphicon-sort-by-order"></span></a></ol>
        </li>
        
        {% for p in publ %}
            <article class="index-page" data-author="{{ p.author }}" data-time="{{ p.time }}" id="{{ p.id }}">
                <h4><a href="{% url 'full' pk=p.id %}">{{ p.title }}</a>
                {% if user.is_authenticated and user == p.author %}
                    <a href="{% url 'edit' pk=p.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#" role="button" data-toggle="modal" class="delete-object" data-target="#confirm-delete" 
                        data-id="{{ p.id }}" data-title="{{ p.title }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                {% endif %}
                </h4>

                <p class="post-meta"><time datetime="{{ p.time }}">{{ p.time }}</time>&nbsp;/&nbsp;
                    <span item="author"><a href="{% url 'my_profile' pk=p.author.id %}">{{ p.author }}</a></span>
                </p>
      
                <p>{{ p.abstract }}</p>
          </article>
        {% endfor %}

        <div class="center-wrapper" id="navigation">
        	<a href="left"><span class="glyphicon glyphicon-arrow-left"></span></a>
            	<span>1</span>
        	<a href="right"><span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
{% endblock content %}